/* ---- Begin your custom styling below ---- */

#assignment-show-differences {
     display: none;
}

/* ---- Custom Media Queries ---- */

@media only screen and (max-width: 800px) {
     #assignment-show-differences {
          display: block;
          background: #ddd;
     }
}
